<div class="container">
  <div class="col-12">
    <div *ngFor="let job of jobs" class="card mt-5 pt-5 px-5 pb-3 border-0 shadow-lg border-bottom border-info border-5">
      <h1 class="roboto-condensed"><b>{{job.description}}</b></h1>
      <h2 class="roboto-condensed text-muted">{{job.company}}</h2>
      <hr>
      <div class="d-flex justify-content-between">
        <p class="roboto-condensed fs-6">
          <i class="far fa-calendar"></i> {{job.date.toDate() | date}}
        </p>
        <p class="fs-6 roboto-condensed">{{job.status}}</p>
      </div>
      <div class="d-flex justify-content-start mt-3">
        <button class="btn btn-info text-white me-3">
          <i class="fas fa-edit"></i> Editar
        </button>
        <button class="btn btn-danger">
          <i class="fas fa-trash-alt"></i> Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
